@charset "UTF-8";
/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  object-fit: cover;
  min-width: 0;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.debug {
  outline: red solid 1px;
}

/* Generale */
.logo {
  font-family: "Shrikhand", sans-serif;
}

* {
  font-family: "Roboto", sans-serif;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  min-width: 375px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin-inline: auto;
}

.fa-solid {
  color: var(--main-color);
  border-radius: 25px;
  gap: 10px;
}

.main-header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
.logo-container .logo {
  width: 150px;
  font-size: 30px;
}

.input-icon {
  position: relative;
  padding-top: 15px;
}
.input-icon i {
  position: absolute;
  top: 60%;
  left: 100px;
  transform: translateY(-50%);
  color: #353535;
}
.input-icon input {
  width: 375px;
  height: 50px;
  background-color: #eaeaea;
  color: #353535;
  padding-left: 120px;
  border: none;
}

.section-title {
  background-color: #f3f3f3;
  padding: 25px;
  display: flex;
  text-align: center;
}
.section-title h1 {
  width: 300px;
  height: 68px;
  padding-left: 40px;
}

.send-button {
  margin: 30px auto;
  width: 220px;
  height: 50px;
  border-radius: 30px;
  background: linear-gradient(180deg, #9356dc, #ff79da);
  color: white;
  border: none;
  cursor: pointer;
  transition: filter 0.1s ease-in-out;
}

.send-button:hover {
  opacity: 0.8;
  filter: brightness(1.1);
}

.main-fonctionnement,
.main-restaurant,
.main-footer {
  width: 100%;
  height: auto;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.main-fonctionnement h2 {
  margin-bottom: 20px;
}

.fontionnement-button {
  width: 335px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  gap: 20px;
  padding-bottom: 50px;
}

.button-fonctionnement {
  position: relative;
  border-radius: 20px;
  padding: 20px;
  border: none;
  box-shadow: 0 2px 8px rgba(114, 113, 113, 0.3);
  padding-bottom: 30px;
}
.button-fonctionnement i {
  color: #9356dc;
  font-size: 20px;
  padding-right: 20px;
}

.fonctionnement-number {
  position: absolute;
  left: -10px;
  width: 30px;
  height: 30px;
  padding-top: 5px;
  border-radius: 50%;
  border: none;
  background-color: #9356dc;
  color: #eaeaea;
  font-size: 15px;
}

.main-restaurant {
  background-color: #f3f3f3;
  height: 1300px;
}
.main-restaurant h2 {
  padding-bottom: 20px;
}

.restaurant-cards {
  padding-top: 20px;
}
.restaurant-cards .card {
  width: 340px;
  height: 260px;
  border-radius: 15px;
  background-color: #ffffff;
}

.image-container {
  position: relative;
}
.image-container img {
  width: 340px;
  height: 200px;
  top: -57px;
  left: -3px;
  padding-bottom: 10px;
  border-radius: 15px;
  width: 100%;
  display: block;
}

.image-text {
  position: absolute;
  bottom: 160px;
  left: 250px;
  color: green;
  background-color: rgb(137, 235, 189);
  padding: 6px 10px;
  font-size: 16px;
  font-weight: bold;
}

.card-title,
.card-subtitle {
  margin-top: 0;
  padding-bottom: 10px;
  padding-left: 10px;
}

.card-title a {
  color: #101010;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.heart-label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 24px;
}

/* Cœur vide visible par défaut */
.empty-heart {
  color: black;
  transition: opacity 0.1s ease;
}

/* Cœur plein violet masqué au départ */
.filled-heart {
  color: #9356dc;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.1s ease;
}

/* Au survol du label, cacher vide, montrer plein */
.heart-label:hover .empty-heart {
  opacity: 0;
}

.heart-label:hover .filled-heart {
  opacity: 1;
}

.main-footer {
  background-color: #353535;
  height: 210px;
}

.footer-logo .logo {
  color: #ffffff;
  font-size: 25px;
  margin-left: 20px;
  font-weight: normal;
  margin-bottom: 15px;
}

.footer-list li {
  margin-bottom: 10px;
  margin-left: 20px;
  list-style: none;
}
.footer-list li ul {
  padding: 0;
  margin-top: 20px;
}
.footer-list li a {
  margin-bottom: 10px;
  color: #ffffff;
  text-decoration: none;
}
.footer-list li i {
  margin-right: 10px;
}


/****** General ***********/
h1 {
  font-family: "Shrikhand", sans-serif;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 70px;
  padding: 10px 20px;
}
.logo-container i {
  font-size: 20px;
  color: #101010;
  cursor: pointer;
}

.images img {
  width: 100%;
  height: 275px;
}

.menu-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.menu {
  height: 1100px;
  width: 100%;
}

.menu,
.menu-container {
  background-color: #f3f3f3;
  border-radius: 40px 40px 0 0;
  margin-top: -50px;
  padding: 20px;
  position: relative;
}

.menu-container {
  height: 1180px;
}

.menu-list {
  width: 349px;
  height: 270px;
  padding-top: 30px;
}
.menu-list h3 {
  width: 40px;
  border-bottom: 2px solid #99e2d0;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 12px;
  margin-top: 20px;
  font-weight: normal;
}

.entrees-list,
.plats-list,
.desserts-list {
  padding-bottom: 12px;
}

.menu-button {
  text-align: left;
  display: block;
  width: 340px;
  border-radius: 15px;
  padding: 15px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.menu-button h4 {
  margin-bottom: 5px;
}

.price {
  position: absolute;
  right: 30px;
}

.order-button {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
