/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  object-fit: cover;
  min-width: 0;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.debug {
  outline: red solid 1px;
}

/* Generale */

.logo {
  font-family: "Shrikhand", sans-serif;
}

* {
  font-family: "Roboto", sans-serif;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  min-width: 375px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin-inline: auto;
}

.fa-solid {
  color: var(--main-color);
  border-radius: 25px;
  gap: 10px;
}

.main-header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.logo-container .logo {
  width: 150px;
  font-size: 30px;
}

.input-icon {
  position: relative;
  padding-top: 15px;
}

.input-icon i {
  position: absolute;
  top: 60%;
  left: 100px;
  transform: translateY(-50%);
  color: #353535;
}

.input-icon input {
  width: 375px;
  height: 50px;
  background-color: #eaeaea;
  color: #353535;
  padding-left: 120px;
  border: none;
}

.section-title {
  background-color: #f3f3f3;
  padding: 25px;
  display: flex;
  text-align: center;
}

.section-title h1 {
  width: 300px;
  height: 68px;
  padding-left: 40px;
}

.button-explor {
  margin: 30px auto;
  width: 220px;
  height: 50px;
  border-radius: 30px;
  background: linear-gradient(180deg, #9356dc, #ff79da);
  color: white;
  border: none;
  cursor: pointer;
  transition: filter 0.1s ease-in-out;
}

.button-explor:hover {
  opacity: 0.8;
  filter: brightness(1.1);
}

.main-fonctionnement,
.main-restaurant,
.main-footer {
  width: 100%;
  height: auto;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.main-fonctionnement h2 {
  margin-bottom: 20px;
}

.fontionnement-button {
  width: 335px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  gap: 20px;
  padding-bottom: 50px;
}

.button-fonctionnement {
  position: relative;
  border-radius: 20px;
  padding: 20px;
  border: none;
  box-shadow: 0 2px 8px rgba(114, 113, 113, 0.3);
  padding-bottom: 30px;
}

.button-fonctionnement i {
  color: #9356dc;
  font-size: 20px;
  padding-right: 20px;
}

.fonctionnement-number {
  position: absolute;
  left: -10px;
  width: 30px;
  height: 30px;
  padding-top: 5px;
  border-radius: 50%;
  border: none;
  background-color: #9356dc;
  color: #eaeaea;
  font-size: 15px;
}

.main-restaurant {
  background-color: #f3f3f3;
  height: 1300px;
}

.main-restaurant h2 {
  padding-bottom: 20px;
}

.restaurant-cards .card {
  width: 340px;
  height: 260px;
  border-radius: 15px;
  background-color: #ffffff;
}

.restaurant-cards {
  padding-top: 20px;
}

.image-container {
  position: relative;
}

.image-container img {
  width: 340px;
  height: 200px;
  top: -57px;
  left: -3px;
  padding-bottom: 10px;
  border-radius: 15px;
  width: 100%;
  display: block;
}

.image-text {
  position: absolute;
  bottom: 160px;
  left: 250px;
  color: green;
  background-color: rgb(137, 235, 189);
  padding: 6px 10px;
  font-size: 16px;
  font-weight: bold;
}

.card-title,
.card-subtitle {
  margin-top: 0;
  padding-bottom: 10px;
  padding-left: 10px;
}

.card-title a {
  color: #101010;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.heart-checkbox {
  display: none;
}

.heart-label {
  cursor: pointer;
  font-size: 25px;
  position: relative;
}

.empty-heart {
  color: black;
  display: inline;
}

.filled-heart {
  display: none;
  color: #926ac4;
}

.heart-checkbox:checked+.heart-label .empty-heart {
  display: none;
}

.heart-checkbox:checked+.heart-label .filled-heart {
  display: inline;
}

.main-footer {
  background-color: #353535;
  height: 210px;
}

.footer-logo .logo {
  color: white;
  font-size: 20px;
  margin-left: 20px;
  font-weight: normal;
}

.footer-list li {
  margin-bottom: 10px;
  margin-left: 20px;
}

.footer-list ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.footer-list a {
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
}

.footer-list i {
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */