//composant
@use "reset";

//variables
$color-incon : #353535;
$background-color: #f3f3f3;
$color-i: #801cabca;
$color-footer: #ffffff;
$background-color-card: #ffffff;

/* Generale */
.logo {
    font-family: "Shrikhand", sans-serif;
}

* {
    font-family: "Roboto", sans-serif;
}

.main-container {
    width: 100%;
    min-width: 375px;
    max-width: 2100px;
    height: auto;
    padding: 0;
    margin: 0;
    margin-inline: auto;
}

.fa-solid {
    color: var(--main-color);
    border-radius: 25px;
    gap: 10px;
}

.main-header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    @media (min-width: 1440px) {
        align-items: center;
    }
}

.logo-container {
    text-align: center;
    padding-top: 15px;

    .logo {
        font-size: 30px;

        @media (min-width: 1440px) {
            font-size: 50px;
        }
    }
}

.location {
    width: 100%;
    height: 50px;
    margin-top: 15px;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    @media(min-width:1440px) {
        box-shadow: none;
    }

    i {
        color: $color-incon ;
    }

    span {
        color: $color-incon ;
    }
}

.section-title {
    width: 100%;
    background-color: $background-color;
    padding: 30px;
    display: flex;
    text-align: center;
    justify-content: center;

    @media (min-width: 1440px) {
        width: 100%;
    }

    p {
        @media (min-width: 1440px) {
            font-size: 18px;
        }
    }

    h1 {
        width: 100%;
        min-width: 275px;
        height: 68px;
        font-family: 'roboto', sans-serif;

        @media (min-width: 1440px) {
            width: 100%;
            font-size: 40px;
        }
    }
}

.send-button {
    margin: 30px auto;
    width: 220px;
    height: 50px;
    border-radius: 30px;
    background: linear-gradient(to bottom right, #ff79da, #9356dc);
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
    box-shadow: 0 4px 10px 0 rgba(#000000, 0.25);

    &:hover {
        //opacity: 0.8;
        filter: brightness(1.1);
        box-shadow: 0 8px 10px 4px rgba(#000000, 0.25);
    }

    @media (min-width: 1440px) {
        width: 250px;
        height: 60px;
        font-size: 16px;
    }
}

.main-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-fonctionnement {
    width: 100%;
    height: auto;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 1440px) {
        width: 100%;
    }

    h2 {
        padding-left: 20px;
        margin-bottom: 20px;

        @media (min-width: 1440px) {
            padding-left: 0;
            padding-bottom: 10px;
        }
    }
}

.fontionnement-button {
    width: 100%;
    max-width: 1053px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 50px;
    gap: 20px;

    @media (min-width: 1440px) {
        padding-bottom: 50px;
        gap: 20px;
    }
}

.button-fonctionnement {
    width: 335px;
    height: 72px;
    position: relative;
    border-radius: 20px;
    padding: 20px;
    border: none;
    box-shadow: 0 2px 8px rgba(114, 113, 113, 0.3);
    padding-bottom: 30px;

    i {
        color: $color-i;
        font-size: 20px;
        padding-right: 20px;

        @media (min-width: 1440px) {
            font-size: 25px;
        }
    }

    b {
        @media (min-width: 1440px) {
            font-size: 16px;
        }
    }
}

.fonctionnement-number {
    position: absolute;
    left: -10px;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    border-radius: 50%;
    border: none;
    background-color: $color-i;
    color: #eaeaea;
    font-size: 15px;

    @media (min-width: 1440px) {
        width: 35px;
        height: 35px;
        font-size: 20px;
    }
}

.main-restaurant {
    background-color: $background_color;
    width: 100%;
    height: auto;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 1440px) {
        width: 100%;
        height: 800px;
    }

    h2 {
        padding-left: 20px;
        padding-bottom: 20px;

        @media (min-width: 1440px) {
            padding-top: 20px;
        }
    }
}

.restaurant-cards {
    width: 100%;
    max-width: 1080px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
    gap: 20px;

    @media (min-width: 1440px) {
        bottom: 30px;
        gap: 50px;
    }

    .card {
        width: 340px;
        height: 260px;
        border-radius: 15px;
        background-color: $background-color-card;
        margin-bottom: 25px;

        @media (min-width: 1440px) {
            width: 490px;
            height: 300px;
        }
    }
}

.image-container {
    position: relative;

    img {
        width: 340px;
        height: 200px;
        top: -57px;
        left: -3px;
        padding-bottom: 10px;
        border-radius: 15px;
        width: 100%;
        display: block;

        @media (min-width: 1440px) {
            height: 231px;
        }
    }
}

.image-text {
    position: absolute;
    bottom: 160px;
    left: 250px;
    color: green;
    background-color: rgb(137, 235, 189);
    padding: 6px 10px;
    font-size: 16px;
    font-weight: bold;

    @media (min-width: 1440px) {
        bottom: 180px;
        left: 400px;
    }
}

.card-title,
.card-subtitle {
    margin-top: 0;
    padding-bottom: 10px;
    padding-left: 10px;

    @media (min-width: 1440px) {
        font-size: 20px;
        padding-left: 15px;
    }
}

.card-title a {
    color: #101010;
}

.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.heart-label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 24px;

    @media (min-width: 1440px) {
        font-size: 30px;
    }
}

/* Cœur vide visible par défaut */
.empty-heart {
    color: black;
    transition: opacity 0.6s ease;
}

/* Cœur plein violet masqué au départ */
.filled-heart {
    color: $color_i;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

/* Au survol du label, cacher vide, montrer plein */
.heart-label:hover .empty-heart {
    opacity: 0;
}

.heart-label:hover .filled-heart {
    opacity: 1;
}

.main-footer {
    background-color: #353535;
    width: 100%;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    gap: 10px;

    @media (min-width : 1440px) {
        width: 100%;
        height: 114px;
        flex-direction: row-reverse;
        align-items: flex-end;
        justify-content: space-between;
        padding: 40px 80px;
    }
}

.footer-logo {
    @media (min-width : 1440px) {
        width: 100%;
        max-width: 139px;
        height: 30px;
    }

    .logo {
        color: $color-footer;
        font-size: 25px;
        margin-left: 20px;
        font-weight: normal;
    }
}

.footer-list {
    @media (min-width : 1440px) {
        height: 30px;
        padding-left: 350px;
    }

    ul {
        padding: 0;
        margin-top: 10px;

        @media (min-width : 1440px) {
            text-align: right;
            align-items: flex-end;
            display: flex;
            gap: 20px;
        }

        li {
            margin-bottom: 10px;
            margin-left: 20px;
            list-style: none;
        }

        a {
            margin-bottom: 10px;
            color: $color-footer;
            text-decoration: none;
        }

        i {
            margin-right: 10px;
        }
    }
}

/*# sourceMappingURL=style.css.map */