@use "reset";

//variable
$background-color-menu : #f3f3f3;
$background-color-button : #ffffff;
$style-color : #99E2D0;

/****** General ***********/

h1 {
    font-family: 'Shrikhand', sans-serif;
}

.logo-container {
    padding: 10px 20px;

    i {
        font-size: 20px;
        color: #101010;
        cursor: pointer;
        position: absolute;
        left: 20px;
        top: 30px;
        transform: translateY(-50%);

        @media (min-width: 1440px) {
            font-size: 30px;
            top: 40px;
        }
    }
}

.images img {
    width: 100%;
    height: 275px;

    @media (min-width: 1440px) {
        height: 383px;
    }
}

.menu {
    width: 100%;
    min-height: 1150px;
    background-color: $background-color-menu;
    border-radius: 40px 40px 0 0;
    margin-top: -50px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1440px) {
        width: 100%;
        max-width: 1055px;
        height: 1350px;
        margin: -50px auto 0;
    }
}

.menu-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        @media (min-width: 1440px) {
            font-size: 30px;
            margin-top: 20px;
        }
    }

    .heart-label {
        margin-left: 30px;

        @media (min-width: 1440px) {
            margin-top: 20px;
        }
    }
}

.menu-list {
    width: 100%;
    max-width: 375px;
    padding-top: 30px;

    @media (min-width: 1440px) {
        width: 100%;
        max-width: 634px;
    }

    h3 {
        width: 40px;
        border-bottom: 2px solid $style-color;
        display: inline-block;
        padding-bottom: 5px;
        margin-bottom: 12px;
        margin-top: 20px;
        font-weight: normal;

        @media (min-width: 1440px) {
            font-size: 18px;
        }
    }

    .order-button {
        padding-left: 50px;
        padding-bottom: 15px;

        @media (min-width: 1440px) {
            text-align: center;
            justify-content: center;
            font-size: 26px;
        }
    }
}

.entrees-list,
.plats-list,
.desserts-list {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.menu-button {
    display: flex;
    width: 100%;
    border-radius: 15px;
    padding-left: 15px;
    background-color: $background-color-button;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    @media (min-width: 1440px) {
        width: 100%;
        max-width: 634px;
    }
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    flex-shrink: 0;
    transition: all 0.3s ease-out;

    h4 {
        margin-bottom: 5px;

        @media (min-width: 1440px) {
            font-size: 18px;
        }
    }

    p {
        font-size: 14px;

        @media (min-width: 1440px) {
            font-size: 16px;
        }
    }
}

.check-menu {
    height: 69px;
    background-color: $style-color;
    color: white;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    display: grid;
    place-content: center;
    flex-shrink: 0;
    opacity: 0;
    transition: transform 0.5s ease-in-out;
}

.menu-button:hover .check-menu {
    flex-basis: 50px;
    transform-origin: right;
    opacity: 1;
}

.menu-button:hover p {
    overflow: hidden;
    text-overflow: ellipsis;
}

.price-check-group {
    display: flex;
    gap: 5px;

    .price {
        flex-shrink: 0;
        display: flex;
        align-items: flex-end;
        padding-bottom: 15px;
        font-size: 15px;
        padding-left: 10px;
    }
}

.text {
    flex: 1 1 auto;
    min-width: 0;
    max-width: 250px;
    white-space: nowrap;
}